<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Searchbar with a placeholder -->
<ion-searchbar placeholder="Filter Notes"></ion-searchbar>
    <ion-button shape="round" (click)="OpenModal()" color="primary">+</ion-button>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>






